Currently MTN Cote d'Ivoire would like to upgrade its technology infrastructure for its mobile users in Ivory Coast. Studying the given dataset, how does MTN Cote d'Ivoire go about the upgrade of its infrastructure strategy within the given cities?

In [ ]:
# importing the library
import pandas as pd

**LOADING THE DATA**

In [ ]:
# Loading TELCOM_DATASETS files

# Column headers
column_headers = ['PRODUCT', 'VALUE', 'DATETIME',
                  'CELL_ON_SITE', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT',
                  'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID']

telcom_dataset1 = pd.read_csv("Telcom_dataset.csv", skiprows=1, header=None, names=column_headers)
telcom_dataset2 = pd.read_csv("Telcom_dataset2.csv", skiprows=1, header=None, names=column_headers)
telcom_dataset3 = pd.read_csv("Telcom_dataset3.csv", skiprows=1, header=None, names=column_headers)

**DATA PREPARATION/CLEANING**

In [ ]:
# Combining the data into a single Dataframe
df = pd.concat([telcom_dataset1, telcom_dataset2, telcom_dataset3])

In [ ]:
# Dropping any duplicate data
df = df.drop_duplicates()

In [ ]:
# Checking for data type
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14750 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          14750 non-null  object
 1   VALUE            14750 non-null  int64
 2   DATETIME         14750 non-null  object
 3   CELL_ON_SITE     14750 non-null  object
 4   DW_A_NUMBER_INT  14750 non-null  object
 5   DW_B_NUMBER_INT  14750 non-null  object
 6   COUNTRY_A        14750 non-null  object
 7   COUNTRY_B        14750 non-null  object
 8   CELL_ID          14750 non-null  object
 9   SITE_ID          12789 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.2+ MB

In [ ]:
# Resetting the index
df.reset_index(drop=True, inplace=True)

In [ ]:
# Checking our data
df

      PRODUCT  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0       Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2         sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv
...       ...    ...                    ...  ...       ...         ...         ...
14745   Voice     10  2012-05-09 00:01:43.0  ...     OTHER  6467daa1db  8a96bae9c1
14746   Voice      0  2012-05-09 00:01:43.0  ...     19e2e  2aa04dcab7  f7d63a29e5
14747   Voice     62  2012-05-09 00:01:43.0  ...     19e2e  7f1f2f889f  b4ddb9e93c
14748   Voice     30  2012-05-09 00:01:43.0  ...     19e2e  98ed726da2  b4130b54ab
14749   Voice     60  2012-05-09 00:01:43.0  ...     19e2e  1c11a2fcbb  6d70dae094

[14750 rows x 10 columns]

In [ ]:
# Loading CELL_GEO
geo_data = pd.read_csv("cells_geo.csv", delimiter=';')

In [ ]:
# Viewing the data
geo_data

      Unnamed: 0    VILLES      STATUS  ...          AREA     CELL_ID   SITE_CODE
0              0    ADJAME  In Service  ...           NaN  fbb2e75af3  0bb492ef17
1              1    ADJAME  In Service  ...           NaN  1502501d78  0bb492ef17
2              2    ADJAME  In Service  ...           NaN  0c2e182a0c  0bb492ef17
3              3   ASSINIE  In Service  ...           NaN  69bdfc69fd  8a1e6ce31f
4              4   ASSINIE  In Service  ...           NaN  7a1029d2ab  8a1e6ce31f
...          ...       ...         ...  ...           ...         ...         ...
3969        3969  ZUENOULA  In Service  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970        3970  ZUENOULA  In Service  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971        3971  ZUENOULA  In Service  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972        3972  ZUENOULA  In Service  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973        3973  ZUENOULA  In Service  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 12 columns]

In [ ]:
# Removing any duplicate values
geo_data = geo_data.drop_duplicates()

In [ ]:
# General information about the DataFrame
geo_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3974 entries, 0 to 3973
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3974 non-null   int64
 1   VILLES        3974 non-null   object
 2   STATUS        3907 non-null   object
 3   LOCALISATION  3974 non-null   object
 4   DECOUPZONE    3974 non-null   object
 5   ZONENAME      3968 non-null   object
 6   LONGITUDE     3974 non-null   float64
 7   LATITUDE      3974 non-null   float64
 8   REGION        3974 non-null   object
 9   AREA          3951 non-null   object
 10  CELL_ID       3974 non-null   object
 11  SITE_CODE     3974 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 403.6+ KB

In [ ]:
# Dropping the 'Unnamed: 0' column
geo_data = geo_data.drop(['Unnamed: 0'], axis = 1)

geo_data

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
0       ADJAME  In Service      ABIDJAN  ...           NaN  fbb2e75af3  0bb492ef17
1       ADJAME  In Service      ABIDJAN  ...           NaN  1502501d78  0bb492ef17
2       ADJAME  In Service      ABIDJAN  ...           NaN  0c2e182a0c  0bb492ef17
3      ASSINIE  In Service    INTERIEUR  ...           NaN  69bdfc69fd  8a1e6ce31f
4      ASSINIE  In Service    INTERIEUR  ...           NaN  7a1029d2ab  8a1e6ce31f
...        ...         ...          ...  ...           ...         ...         ...
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[3974 rows x 11 columns]

In [ ]:
# Checking the columns in CDR Dataframe
df.columns

Index(['PRODUCT', 'VALUE', 'DATETIME', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
# Checking the colimns in GEO DATA Dataframe
geo_data.columns

Index(['VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME',
       'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_CODE'],
      dtype='object')

In [ ]:
# Renaming a column in GEO DATA
geo_data.rename(columns = {'SITE_CODE':'SITE_ID'}, inplace = True) 

# Checking the name change
geo_data.columns

Index(['VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME',
       'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID', 'SITE_ID'],
      dtype='object')

In [ ]:
# Combining the two data into one mega file
combined_df = pd.merge(df, geo_data, on='SITE_ID', how='inner')

combined_df

      PRODUCT  VALUE  ...           AREA   CELL_ID_y
0         sms      0  ...   CENTRE NORTH  24ccdda3d5
1         sms      0  ...   CENTRE NORTH  ebfc58af70
2         sms      0  ...   CENTRE NORTH  ba8ce6e4ef
3         sms      0  ...   CENTRE NORTH  c2545171dc
4         sms      0  ...   CENTRE NORTH  f15bd5483f
...       ...    ...  ...            ...         ...
50313   Voice     17  ...  ABIDJAN NORTH  c179f33d5e
50314   Voice     17  ...  ABIDJAN NORTH  0a3f751619
50315     sms      0  ...   CENTRE NORTH  0427a26d34
50316     sms      0  ...   CENTRE NORTH  7c72293cf2
50317     sms      0  ...   CENTRE NORTH  be18b5b981

[50318 rows x 20 columns]

In [ ]:
# Converting the DATETIME column to type datetime
combined_df['DATETIME'] = pd.to_datetime(combined_df['DATETIME'])

In [ ]:
# Resetting DATETIME to index
combined_df.set_index(["DATETIME"], inplace = True, append = True, drop = True)

In [ ]:
# Exploring the data types in the combined file
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 50318 entries, (0, Timestamp('2012-05-07 00:00:00')) to (50317, Timestamp('2012-05-09 00:01:43'))
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          50318 non-null  object
 1   VALUE            50318 non-null  int64
 2   CELL_ON_SITE     50318 non-null  object
 3   DW_A_NUMBER_INT  50318 non-null  object
 4   DW_B_NUMBER_INT  50318 non-null  object
 5   COUNTRY_A        50318 non-null  object
 6   COUNTRY_B        50318 non-null  object
 7   CELL_ID_x        50318 non-null  object
 8   SITE_ID          50318 non-null  object
 9   VILLES           50318 non-null  object
 10  STATUS           49615 non-null  object
 11  LOCALISATION     50318 non-null  object
 12  DECOUPZONE       50318 non-null  object
 13  ZONENAME         50300 non-null  object
 14  LONGITUDE        50318 non-null  float64
 15  LATITUDE         50318 non-null  float64
 16  REGION           50318 non-null  object
 17  AREA             50062 non-null  object
 18  CELL_ID_y        50318 non-null  object
dtypes: float64(2), int64(1), object(16)
memory usage: 8.0+ MB

In [ ]:
combined_df

                          PRODUCT  VALUE  ...           AREA   CELL_ID_y
      DATETIME                            ...
0     2012-05-07 00:00:00     sms      0  ...   CENTRE NORTH  24ccdda3d5
1     2012-05-07 00:00:00     sms      0  ...   CENTRE NORTH  ebfc58af70
2     2012-05-07 00:00:00     sms      0  ...   CENTRE NORTH  ba8ce6e4ef
3     2012-05-07 00:00:00     sms      0  ...   CENTRE NORTH  c2545171dc
4     2012-05-07 00:00:00     sms      0  ...   CENTRE NORTH  f15bd5483f
...                           ...    ...  ...            ...         ...
50313 2012-05-09 00:01:42   Voice     17  ...  ABIDJAN NORTH  c179f33d5e
50314 2012-05-09 00:01:42   Voice     17  ...  ABIDJAN NORTH  0a3f751619
50315 2012-05-09 00:01:43     sms      0  ...   CENTRE NORTH  0427a26d34
50316 2012-05-09 00:01:43     sms      0  ...   CENTRE NORTH  7c72293cf2
50317 2012-05-09 00:01:43     sms      0  ...   CENTRE NORTH  be18b5b981

[50318 rows x 19 columns]

**ANALYSIS**

In [ ]:
# Columns under consideration
combined_df.columns

Index(['PRODUCT', 'VALUE', 'CELL_ON_SITE', 'DW_A_NUMBER_INT',
       'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID_x', 'SITE_ID',
       'VILLES', 'STATUS', 'LOCALISATION', 'DECOUPZONE', 'ZONENAME',
       'LONGITUDE', 'LATITUDE', 'REGION', 'AREA', 'CELL_ID_y'],
      dtype='object')

In [ ]:
# What is the most subscribed product
combined_df['PRODUCT'].describe()

count     50318
unique        2
top         sms
freq      29052
Name: PRODUCT, dtype: object

In [ ]:
# Which ones were the most used city for the three days
city_traffic = combined_df['VILLES'].value_counts()
city_traffic

YOPOUGON       8549
ABOBO          6159
COCODY         3716
ADJAME         2655
KOUMASSI       2275
               ...
DJENIDOUFLA       3
BROFODOUME        3
MONTCOUPE         3
KOTOULA           2
DANANON           2
Name: VILLES, Length: 400, dtype: int64

In [ ]:
# Which cities were the most used during business and home hours?
combined_df.between_time('08:00:00','17:00:00')

TypeError: ignored